

.hand {
	position:relative;
	width:20%;
	opacity: 1 !important;
	z-index:999;
	margin-left: -25px;
	background-size: 100%;
}

.handTable {
	width: 19%;
	height:49%;
	display: inline-block;
}
.handTable tr {
	border: 1px solid brown;
}

.bright {
	opacity: 1;
}

.playedCard {
	position: absolute;
	display: block;
	margin: auto;
	width:8%;
	padding-left: 5%;
}
.playedCard:hover {
	margin-left: -15px;
	width:9%;
}

/* Own cards in a hand */
.cardPlayed1 {
	bottom:30%;
}
.cardPlayed2 {
	bottom:25%;
}
.cardPlayed3 {
	bottom:20%;
}
.cardPlayed4 {
	bottom:15%;
}
.cardPlayed5 {
	bottom:10%;
}

/* Opponents cards in a hand */
.cardPlayedVs1 {
	top:40%;
}
.cardPlayedVs2 {
	top:35%;
}
.cardPlayedVs3 {
	top:30%;
}
.cardPlayedVs4 {
	top:25%;
}
.cardPlayedVs5 {
	top:20%;
}

.card {
	position:relative;
	width:20%;
	float:left;
	opacity: 1 !important;
	z-index:999;
	margin-left: -25px;
}

@media only screen and (max-width: 500px) {
	.playedCard {
		width:12%;
	}
}



#card1 {
	-ms-transform: rotate(-7deg); /* IE 9 */
    -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
    transform: rotate(-7deg);
}
#card2 {
-ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
    transform: rotate(-4deg);
}
#card4 {
-ms-transform: rotate(4deg); /* IE 9 */
    -webkit-transform: rotate(4deg); /* Chrome, Safari, Opera */
    transform: rotate(4deg);
}

#card5 {
-ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
}

.card:hover{
	bottom:30px;
}

.cards {
	position: fixed;
	left:38%;
	bottom:-20px;
	width:40%;
	opacity: 1 !important;
}

.cardIcon {
	width: 40px;
}
#cardsButton {
	float:right;
}

.makeRoomForCards {
	height: 120px!important;
}

.cardTable {
	display: inline-block;
	left:0;
	right:0;
	top:5px;
	margin:auto;
	border-style: solid;
	border-width: 25px;
	border-radius: 25px;
	background-color: #00cc66;
	/*background-image: url('/pics/plaid.gif');*/
	border-color: #c68c53;
	width:90%;
	height:70%;
	display: none;
	opacity: .8;
	z-index:990;
}

#cardTable {
	width:100%;
	height:100%;
}

/* onclick event */
.cardSelected {
	bottom:30px;
	width:25%;
}

/*th {
	height:20px;
}
td {
	border-right:1px solid brown;
}*/
/*#cardTable tr {
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	/*background-color: #00cc66;*/
	/*border-color: brown;
}