/* The error message personality */
.admin {
	background-color: black;
	color:#00FF00;
}

/*Top level emoji dimension, 
other classes to build upon this*/
.emoji {
	z-index: 200;
	width:50px;
	height:50px;
	opacity: 1;
	float:left;
}

.emojiChoice {
	display: inline-block;
}

.emojiChat {
	margin-right: 5px;
}

#emojiButton {
	margin-bottom: 5px;
	margin-left: 5px;
	float:right;

}

.button:active {
	width: 48px;
	height: 48px;
}
.button:hover {
	cursor:pointer;
}

#emojiSelectionWrapper {
	display: none;
	position: absolute;
	top:10px;
	max-width:205px;
	min-width: 50px;
	height: 79%;
	right:0;
	background-color: white;
	border-bottom-right-radius: 10px;
	overflow: scroll;
	z-index: 200;
	padding-left:5px;
	padding-right:5px;
}

#emojiSelectionWrapper::-webkit-scrollbar { 
    display: none; 
}

.selfImage {
	width:35%;
	margin-left: 50%;
	margin-top:10px;
}
/* container */
.container {
  padding: 5% 5%;
}

/* CSS talk bubble */
.talk-bubble {
	opacity: 0.8;
	margin: 8px;
	max-width:45%;
	min-height: 50px;
	word-wrap: break-word;
  	/*display: inline-block;*/
  	/*position: relative;
	height: auto;*/
	background-color: white;
	box-shadow: 1px 1px 10px white;
}
.border{
  border: 8px solid #666;
}
.round{
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
}

/* talk bubble contents */
.talktext{
  padding: .9em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.selfMessage {
	background-color: white;
	margin-left: 50%;
}

.username {
  color: black;
  opacity:.8;
  margin-top: 3px;
}

.leftside {
	margin-left: 35px;
}

.rightside {
	margin-left: 52%;
}

#contentWrap{
	display:none;
	margin:10px;
}
#chatWrap{
	background-color: lightblue;
	height:80%;
	width: 100%;
	overflow-y: scroll;
	font-family: 'Ubuntu', sans-serif;
	font-size: 15px;
}
.error {
	color : red;
}

.new-message {
	position:absolute;
	border: solid 1px #c9c9c9;
  	border-radius: 35px;
  	background-color: white;
  	word-wrap: break-word;
  	max-width: 100px;
  	margin-top: 40px;
  	margin-left: 10%;
  	padding:8px;
}

.privateMsg {
	background-color: #f45c42;
	color: white;
	opacity: 0.8;
	box-shadow: 1px 1px 10px #f45c42;
}

.users {
	float: left;
	font-family: 'Ubuntu', sans-serif;
	padding: 10px;
}

/* Login field */
#nickname {
	position: relative;
	display: block;
	margin: auto;
	margin-top: 200px;
}

.title {
	display: block;
	margin: auto;
	color:white;
	font-size: 280px;
	color: #fff;
    text-shadow: #000 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
	font-family: 'Fredoka One', cursive;
	width:100%;
	z-index: 100;
	top:0px;
}
.time {
	position: relative;
	float: right;
}
.fade {
   opacity: 1;
   transition: opacity 5s ease-out;
   -moz-transition: opacity 5s ease-out;
   -webkit-transition: opacity 5s ease-out;
 }

.fade:hover {
  	opacity: 0.0;
}

.chatImg {
	width:35%;
	margin:10px;
	margin-left: 10%;
}

input[type=text] {
	padding: 10px;
  	border: solid 5px #c9c9c9;
  	border-radius: 8px;
  	font-size:20px;
	height:50px;
	color: #a0a0a0;
}
input[type=text]:focus {
	border: solid 6px #a0a0a0;
}

#imgForm{
	display: inline-block;
	float:left;
	margin-right: 10px;
}

#loginWrapper{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
#message {
	margin-top: 10px;
	width:100%;
}