@import "globals";

div.chat-wrapper {
 background-color: lightblue;
  width:100%;
  height:100%;
}

.chat-window {
	position:relative;
	background-color: white;
	overflow:scroll;
	height:80%;
	width:90%;
	margin:auto;
	top:10px;
}

.left{
	margin:8px;
	width:49%;
	padding:5px;
	font-family:sans-serif;
	border-color:lightgreen;
	border-size: 1px;
	border-style:solid;
	border-width: 2px;
	border-radius:10px;
	font-size:15px;
}

.right {
	margin:8px;
	margin-left:51%;
	padding:5px;
	font-family:sans-serif;
	border-color:lightblue;
	border-size: 1px;
	border-style:solid;
	border-width: 2px;
	border-radius:10px;
	font-size:15px;
}


/* Chat Form classes */
div.chat-form-wrapper {
	box-sizing: border-box;
	position:relative;
	top:20px;
	margin:auto;
	width:90%;
}
.chat-input {
	position:relative;
	width:100%;
	font-size:28px;
	height:40px;
}
.chat-submit {
	position:relative;
	margin-top:5px;
	float:right;
	padding:5px;
}

.messageWrap {
	position:relative;
	display:block;
	width:100%;
}
.message {

	font-size:15px;
	font-family:sans-serif;

	padding:10px;
	margin:5px;
	margin-left:10px;
	margin-right:10px;
	border-radius:10px;
	border-style:solid;
	border-width: 2px;
	opacity:.8;
	word-wrap: break-word;
}
.username {
	float:right;
	top:5px;
	margin-right:15px;
	font-size:12px;
	opacity:.5;
	font-family:sans-serif;
}

.emoji {
	width:50px;
}

.emoji:active {
	width: 48px;
	height: 48px;
}

.emojisWrap {
	overflow:scroll;
	width:100%;
	height:102px;
	background-color:lightgreen;
}

.emojisWrap::-webkit-scrollbar { 
    display: none; 
}
