@import "globals";

div.chat-wrapper {
 background-color: lightblue;
  width:100%;
  height:100%;
}

.chat-window {
	position:relative;
	background-color: white;
	overflow:scroll;
	height:80%;
	width:90%;
	margin:auto;
	top:10px;
}

/* Chat Form classes */
div.chat-form-wrapper {
	box-sizing: border-box;
	position:relative;
	top:20px;
	margin:auto;
	width:90%;
}
.chat-input {
	position:relative;
	width:100%;
	font-size:28px;
	height:40px;
}
.chat-submit {
	position:relative;
	margin-top:5px;
	float:right;
	padding:5px;
}

.message {
	font-size:15px;
	font-family:sans-serif;
	width: 50%;
	margin:10px;
	padding:10px;
	border-radius:20px;
	border-style:solid;
	border-color:lightblue;
	opacity:.8;
	word-wrap: break-word;

	
}