
.scoreboardWrap
{
    float:left; 
    height: 70px;
    width: auto;
    overflow: scroll;
    /*background-color: #c0c0c0;*/

}

@media screen and (min-width: 600px) {

    .scoreboardWrap
    {
        height: 70px;
        width: auto;
        /*background-color: #c0c0c0;*/
    }
}

.tableWrap
{
    position: relative;
    width: 100%;
}

.matchupTable
{
    float:left;
    font-family: sans-serif;
    font-size: 11px;
    width: 190px;
    border-collapse: collapse;
    text-align: right;
    color:lightgreen;
    /*background-color: #f0f0f0; */
}
.matchupTable thead
{
    position: relative;
    width: 100%;
}

.matchupTable thead tr
{
    opacity:.3;
    height:5px;
    margin-right:3px;
    background-color: lightblue;
}
.matchupTable tbody tr
{
    width: 100%;
}

.matchupTable td:nth-child(2)
{
    width: 25%;
}

.matchupTable td:nth-child(1)
{
    padding-bottom: 2px;
}

td[data-rel='record']
{
    font-size: 10px;
    padding: 0;
    padding-right: 5px;
    text-align: right;
    vertical-align: top;
    color: white;

}

td[data-rel='score']
{
    padding-top: 5px;
    padding-right: 5px;
    text-align: right;
    color: white;
}
