.scoreboardWrap
{
    float:left;
    height:100%;
    padding: 10px;
    background-color: #c0c0c0;
}

.tableWrap
{
    position: relative;
    width: 100%;
}

.matchupTable
{
    float:left;
    font-family: sans-serif;
    font-size: 10px;
    width: 190px;
    margin: 5px;
    border-collapse: collapse;
    text-align: right;
    background-color: #f0f0f0;
}
.matchupTable thead
{
    position: relative;

    width: 100%;
}

.matchupTable thead tr
{
    height: 15px;
    margin-top: 5px;

    color: white;
    background-color: #FC565A;
}
.matchupTable tbody tr
{
    width: 100%;
}

.matchupTable td:nth-child(2)
{
    width: 25%;
}

.matchupTable td:nth-child(1)
{
    padding-bottom: 5px;
}

td[data-rel='record']
{
    font-size: 8px;

    padding: 0;
    padding-right: 5px;

    text-align: right;
    vertical-align: top;
}

td[data-rel='score']
{
    padding-top: 10px;
    padding-right: 10px;

    text-align: right;
}
