.landingWrap
{
    width: 100%;
    padding: 15px;

    background-color: lightgreen;
}

.videoWrap
{
    position: relative;
    top: 10px;

    width: 50%;
    margin: auto;
    margin-bottom: 15px;
}


.controls
{
    font-size: 100px;

    display: block;

    width: 100px;
}

.title
{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 30px;

    text-align: center;

    color: white;
}
.titleWrap
{
    position: relative;

    width: 50%;
    margin: auto;
    padding: 0;
}
#donald
{
    padding: 0;

    color: orange;
}
