@import 'globals';

nav.menu
{
    font-size: 4em;

    top: 0;
    left: 0;
    height:80px;
    width: 100%;
    padding: .2em;

    background-color: #2d2d2d;

    justify-content: space-around;
    a
    {
        float: right;

        margin-left: 5px;

        color: $snow-white;
    }
    img
    {
        position: relative;
        top: 5px;

        width: 45px;
    }
}

.left {
    float:left;
}