div.optionsWrap {
	background-color: #FF4500;
}
table.options {
	font-size:20px;
	font-family:sans-serif;
	padding:10px;
	color:white;
	width:20%;
}
table.options {
	display:block;
	margin:auto;
}

table.options th {
	color:black;
}
table.options td {
	font-size:15px;
}
.icon {
	font-size:30px;
	text-align:center;
}
.option {
	color:white;
	 text-decoration: none;
}

.black {
	color:black;
}

.pokerIcon {
	width: 28px;
	height:40px;
	background-image: url('/pics/cards/back1.png');
	background-size: contain;
}