
.poker-table {
	display:block;
	margin:auto;
	margin-top:15px;
	margin-bottom:15px;
	width: 95%;
	height:85%;
	border: 10px solid #805500;
	border-radius: 25px;
	background-color: lightgreen;
}

.poker-hand {
	position:relative;
	float:left;
	width:19%;
	height:100%;
	margin-left: 1%;
}

.poker-hand-table {
	position:relative;
	width:100%;
	height:100%;
	border: 5px solid #70dd70;
	border-collapse: collapse;
	overflow: hidden;
	table-layout:fixed; 
}

.poker-hand-table > tbody > tr > td {
	border: 1px solid #70dd70;
	table-layout:fixed; 
}
.poker-hand-td {
	display:block;/*
	background-color: red;*/
	position: relative;
	height: 100%;
	overflow: scroll;
	table-layout:fixed; 
}

.poker-card-img {
	position:relative;
	width:100%;
	display:block;
}

.board-wrap {
	position:relative;
	display:block;
	width:90%;
	height:45%;
	margin-left:5%;
	margin-right:5%;
	margin-top:1.5%;
	border: 1px solid black;
	background-color:green;
}